* {
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 2rem;
  text-align: center;
  color: white;
}
body {
  background-color: #0b132b;
}
.main {
  width: full;
}
.container {
  margin: 0 auto;

  width: 60vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 550px) {
  .container {
    width: 80vw;
    margin: 0 auto;
  }
  /* .gamebox {
    width: 60vim;
    height: 60vmin;
  } */
}

@media (min-width: 1000px) {
  .container {
    width: 40vw;
    margin: 0 auto;
  }
}

@media (min-width: 1550px) {
  .container {
    width: 40vw;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) and (max-width: 1180px) {
  .container {
    width: 50vw;
    margin: 0 auto;
  }
}

.gamebox {
  width: 60vim;
  height: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 16px rgba(4, 53, 106, 0.4);
  background-color: #5bc0be;
  font-size: 2rem;
  color: #1c2541;
  font-weight: 600;
}

.gameBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-btn {
  margin-top: 2rem;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 16px rgba(2, 26, 7, 0.4);
  background-color: #1c2541;
  color: white;
  font-size: 1.4rem;
}
.newGameBtn {
  margin-top: 2rem;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 16px rgba(2, 26, 7, 0.4);
  background-color: #1c2541;
  color: white;
  font-size: 1.4rem;
}
.hide {
  display: none;
}

.winner-container {
  text-align: center;
}
h2 {
  padding-top: 20px;
  color: rgb(184, 215, 5);
  font-size: 1.4rem;
}
